{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<article class="blog-post">

  <div class="post-meta meta">
    <span class="post-date">{{ article.published_at | date: format: "short_month" }}</span>
    {% if settings.blog-show-author %}
      <span class="post-author">&bull; {{ article.author }}</span>
    {% endif %}
    {% if article.comments_enabled? and article.comments.size > 0 and settings.blog-show-comment-count %}
      <span class="post-comment-count">&bull; {% comment %}ly_i18n_replace_for_[ 'blogs.comments.count' | t: count: article.comments_count ]_begin{% endcomment %}{% if article.comments_count  == 0 %}{% capture ly_template %}{{ 'blogs.comments.count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '9425143' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments_count  == 1 %}{% capture ly_template %}{{ 'blogs.comments.count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '9425142' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif article.comments_count  == 2 %}{% capture ly_template %}{{ 'blogs.comments.count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '9425143' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'blogs.comments.count' | t: count: article.comments_count }}{% endcapture %}{% include 'ly-static-string' with '9425143' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = article.comments_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
    {% endif %}
    {% if article.tags.size > 0 and settings.blog-show-tags %}
      <span class="post-tags">&bull;
        {% for tag in article.tags %}
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">#{{ tag }}</a>
        {% endfor %}
      </span>
    {% endif %}
  </div>

  <h3 class="post-title"><a href="{{ article.url }}">{% comment %}ly_code_replace_for_[ article.title ]_begin{% endcomment %}{% include 'ly-title' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></h3>

  <div class="rte post-content">
    {% if article.image %}
      <div class="post-image">
        {% if template == 'article' %}
          {%
            include 'rimg',
            img: article.image,
            alt: article.title,
            size: '1080x640',
            lazy: true,
            canvas: true
          %}
        {% else %}
          <a href="{{ article.url }}">
            {%
              include 'rimg',
              img: article.image,
              alt: article.title,
              size: '1080x640',
              lazy: true,
              canvas: true
            %}
          </a>
        {% endif %}
      </div>
    {% endif %}
    {% if article.excerpt != blank %}
      {% comment %}ly_code_replace_for_[ article.excerpt ]_begin{% endcomment %}{% include 'ly-excerpt' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
    {% else %}
      <p>{% comment %}ly_code_replace_for_[ article.content | strip_html | truncatewords: 50 ]_begin{% endcomment %}{% include 'ly-content' with article %}{{ ly_translation | strip_html | truncatewords: 50 }}{% comment %}ly_code_replace_end{% endcomment %}</p>
    {% endif %}
    <p>
      <a href="{{ article.url }}">{% comment %}ly_i18n_replace_for_[ 'blogs.article.read_more' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article.read_more' | t }}{% endcapture %}{% include 'ly-static-string' with '9425146' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
    </p>
  </div>

</article>
