{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<article class="collection-item">

  {% if collection-list-item == 'linklist' %}
    {% assign collection = collections[link.handle] %}
  {% endif %}

  {% if collection.image %}
    {% assign image = collection.image %}
    {% assign image_alt = collection.image.alt | escape %}
  {% else %}
    {% assign image = collection.products.first.featured_image %}
    {% assign image_alt = collection.products.first.featured_image.alt | escape %}
  {% endif %}

  <figure class="collection-item-image">
    <a href="{{ collection.url }}">
      {% if image and image_alt %}
        {%
          include 'rimg',
          img: image,
          alt: image_alt,
          size: '600x',
          lazy: true
        %}
      {% else %}
        {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </a>
  </figure>

  <div class="collection-item-details {{collectionTextStyle}}-style">
    <h3><a href="{{ collection.url }}">{% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></h3>

    {% if collection.description != blank and showDescriptions %}
      <div class="rte">
        {% comment %}ly_code_replace_for_[ collection.description | strip_html | truncatewords: 20 ]_begin{% endcomment %}{% include 'ly-description' with collection %}{{ ly_translation | strip_html | truncatewords: 20 }}{% comment %}ly_code_replace_end{% endcomment %}
      </div>
    {% endif %}
  </div>

</article>
