{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if collection.image and collectionImage %}
  <div class="collection-header">
    {%
      include 'rimg',
      img: collection.image,
      size: '1024x1024',
      lazy: true
    %}

    <div class="collection-details">
      <h1>{% comment %}ly_code_replace_for_[ collection.title ]_begin{% endcomment %}{% include 'ly-title' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>
      {% if collection.description != blank %}
        <div class="collection-description rte">
          {% comment %}ly_code_replace_for_[ collection.description | strip_html | truncatewords: 20 ]_begin{% endcomment %}{% include 'ly-description' with collection %}{{ ly_translation | strip_html | truncatewords: 20 }}{% comment %}ly_code_replace_end{% endcomment %}
        </div>

        {% capture shortDescription %}{% comment %}ly_code_replace_for_[ collection.description | strip_html | truncatewords: 20 ]_begin{% endcomment %}{% include 'ly-description' with collection %}{{ ly_translation | strip_html | truncatewords: 20 }}{% comment %}ly_code_replace_end{% endcomment %}{% endcapture %}
        {% if collection.description.size > shortDescription.size %}
          <span class="collection-description-more">{% comment %}ly_i18n_replace_for_[ 'collections.collection.read_more' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection.read_more' | t }}{% endcapture %}{% include 'ly-static-string' with '9425164' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
          <script>
            window.collectionJSON = {{ collection | json }};
          </script>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% else %}
  {% if collection.description != blank %}
    <div class="collection-description rte">
      {% comment %}ly_code_replace_for_[ collection.description ]_begin{% endcomment %}{% include 'ly-description' with collection %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
    </div>
  {% endif %}
{% endif %}
