{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="footer-module footer-connect">
  {% if block.settings.enable-mailing-list %}
    {% include 'newsletter' %}
  {% endif %}

  {% if block.settings.enable-social-links %}
    <div class="social-networks">
      <ul>
        {% if settings.social-facebook-url != blank %}
          <li class="social-link facebook">
            <a href="{{ settings.social-facebook-url | escape }}" target="_blank">
              <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title><ly-as-9425165>Facebook</ly-as-9425165></title><path d="M30.109 0H1.759C.787 0 0 .787 0 1.759v28.35c0 .971.787 1.759 1.759 1.759h15.263V19.527h-4.153v-4.81h4.153v-3.546c0-4.117 2.514-6.358 6.185-6.358 1.76 0 3.271.131 3.712.19v4.301l-2.547.001c-1.997 0-2.384.95-2.384 2.342v3.07h4.763l-.62 4.81h-4.143v12.34h8.121c.971 0 1.759-.787 1.759-1.758V1.76C31.868.787 31.08 0 30.109 0" fill="#000" fill-rule="evenodd"/></svg>
            </a>
          </li>
        {% endif %}
        {% if settings.social-twitter-url != blank %}
          <li class="social-link twitter">
            <a href="{{ settings.social-twitter-url | escape }}" target="_blank">
              <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title><ly-as-9425166>Twitter</ly-as-9425166></title><path d="M32 7.079a13.127 13.127 0 0 1-3.77 1.033 6.585 6.585 0 0 0 2.886-3.632 13.148 13.148 0 0 1-4.169 1.593A6.557 6.557 0 0 0 22.155 4a6.565 6.565 0 0 0-6.565 6.565c0 .515.058 1.016.17 1.496a18.639 18.639 0 0 1-13.532-6.86 6.534 6.534 0 0 0-.89 3.301 6.562 6.562 0 0 0 2.922 5.465 6.539 6.539 0 0 1-2.974-.821v.082a6.569 6.569 0 0 0 5.266 6.438 6.574 6.574 0 0 1-2.965.112 6.572 6.572 0 0 0 6.133 4.56 13.173 13.173 0 0 1-8.154 2.81c-.53 0-1.052-.031-1.566-.092a18.583 18.583 0 0 0 10.064 2.95c12.076 0 18.679-10.004 18.679-18.68 0-.284-.006-.567-.019-.849A13.344 13.344 0 0 0 32 7.079" fill="#000" fill-rule="evenodd"/></svg>
            </a>
          </li>
        {% endif %}
        {% if settings.social-tumblr-url != blank %}
          <li class="social-link tumblr">
            <a href="{{ settings.social-tumblr-url | escape }}" target="_blank">
              <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title><ly-as-9425167>Tumblr</ly-as-9425167></title><path d="M23.853 25.559c-.595.284-1.733.53-2.583.553-2.56.069-3.058-1.799-3.08-3.155v-9.962h6.426V8.151h-6.402V0h-4.688c-.077 0-.212.067-.23.239C13.022 2.734 11.853 7.112 7 8.862v4.133h3.239v10.457c0 3.579 2.64 8.665 9.612 8.546 2.35-.04 4.962-1.026 5.541-1.874l-1.54-4.565" fill="#000" fill-rule="evenodd"/></svg>
            </a>
          </li>
        {% endif %}
        {% if settings.social-google-url != blank %}
          <li class="social-link google-plus">
            <a href="{{ settings.social-google-url | escape }}" target="_blank">
              <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title><ly-as-9425168>Google Plus</ly-as-9425168></title><path d="M.027 15.46c.088-5.265 4.901-9.877 10.137-9.701 2.509-.118 4.867.98 6.789 2.523-.82.937-1.67 1.84-2.577 2.684-2.31-1.606-5.595-2.065-7.905-.21-3.304 2.299-3.455 7.726-.276 10.2 3.09 2.821 8.933 1.42 9.787-2.899-1.936-.03-3.877 0-5.813-.063-.005-1.162-.01-2.323-.005-3.485 3.237-.01 6.473-.015 9.715.01.194 2.733-.165 5.642-1.835 7.901-2.528 3.578-7.603 4.622-11.563 3.09C2.507 23.987-.308 19.765.027 15.46m26.165-3.884h2.887c.005.971.01 1.947.02 2.918.965.01 1.936.01 2.901.02v2.904c-.965.01-1.931.015-2.902.024-.01.976-.014 1.948-.02 2.919h-2.891c-.01-.971-.01-1.943-.02-2.914l-2.901-.029v-2.904c.965-.01 1.93-.015 2.901-.02.005-.976.015-1.947.025-2.918" fill="#000" fill-rule="evenodd"/></svg>
            </a>
          </li>
        {% endif %}
        {% if settings.social-pinterest-url != blank %}
          <li class="social-link pinterest">
            <a href="{{ settings.social-pinterest-url | escape }}" target="_blank">
              <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title><ly-as-9425169>Pinterest</ly-as-9425169></title><path d="M16 0C7.163 0 0 7.163 0 16c0 6.778 4.217 12.568 10.17 14.899-.14-1.266-.267-3.208.055-4.59.29-1.248 1.876-7.953 1.876-7.953s-.479-.958-.479-2.375c0-2.225 1.29-3.886 2.895-3.886 1.365 0 2.025 1.025 2.025 2.254 0 1.373-.874 3.425-1.325 5.327-.377 1.593.798 2.892 2.369 2.892 2.844 0 5.03-3 5.03-7.327 0-3.831-2.753-6.51-6.684-6.51-4.552 0-7.224 3.415-7.224 6.944 0 1.375.53 2.85 1.19 3.651.131.159.15.297.111.459-.121.506-.391 1.592-.444 1.815-.07.293-.232.355-.535.214-1.999-.93-3.248-3.852-3.248-6.199 0-5.047 3.667-9.682 10.572-9.682 5.55 0 9.864 3.955 9.864 9.24 0 5.515-3.477 9.953-8.303 9.953-1.621 0-3.145-.843-3.667-1.838 0 0-.802 3.055-.997 3.804-.361 1.39-1.336 3.132-1.989 4.194C12.76 31.75 14.351 32 16 32c8.837 0 16-7.163 16-16S24.837 0 16 0" fill="#000" fill-rule="evenodd"/></svg>
            </a>
          </li>
        {% endif %}
        {% if settings.social-instagram-url != blank %}
          <li class="social-link instagram">
            <a href="{{ settings.social-instagram-url | escape }}" target="_blank">
              <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title><ly-as-9425170>Instagram</ly-as-9425170></title><g fill="#0A0A08" fill-rule="evenodd"><path d="M16 2.887c4.27 0 4.777.016 6.463.093 1.56.071 2.407.332 2.97.551.747.29 1.28.637 1.84 1.196.56.56.906 1.093 1.196 1.84.219.563.48 1.41.55 2.97.078 1.686.094 2.192.094 6.463 0 4.27-.016 4.777-.093 6.463-.071 1.56-.332 2.407-.551 2.97a4.955 4.955 0 0 1-1.196 1.84c-.56.56-1.093.906-1.84 1.196-.563.219-1.41.48-2.97.55-1.686.078-2.192.094-6.463.094s-4.777-.016-6.463-.093c-1.56-.071-2.407-.332-2.97-.551a4.955 4.955 0 0 1-1.84-1.196 4.955 4.955 0 0 1-1.196-1.84c-.219-.563-.48-1.41-.55-2.97-.078-1.686-.094-2.192-.094-6.463 0-4.27.016-4.777.093-6.463.071-1.56.332-2.407.551-2.97.29-.747.637-1.28 1.196-1.84a4.956 4.956 0 0 1 1.84-1.196c.563-.219 1.41-.48 2.97-.55 1.686-.078 2.192-.094 6.463-.094m0-2.882c-4.344 0-4.889.018-6.595.096C7.703.18 6.54.45 5.523.845A7.84 7.84 0 0 0 2.69 2.69 7.84 7.84 0 0 0 .845 5.523C.449 6.54.179 7.703.1 9.405.023 11.111.005 11.656.005 16c0 4.344.018 4.889.096 6.595.078 1.702.348 2.865.744 3.882A7.84 7.84 0 0 0 2.69 29.31a7.84 7.84 0 0 0 2.833 1.845c1.017.396 2.18.666 3.882.744 1.706.078 2.251.096 6.595.096 4.344 0 4.889-.018 6.595-.096 1.702-.078 2.865-.348 3.882-.744a7.84 7.84 0 0 0 2.833-1.845 7.84 7.84 0 0 0 1.845-2.833c.396-1.017.666-2.18.744-3.882.078-1.706.096-2.251.096-6.595 0-4.344-.018-4.889-.096-6.595-.078-1.702-.348-2.865-.744-3.882A7.84 7.84 0 0 0 29.31 2.69 7.84 7.84 0 0 0 26.477.845C25.46.449 24.297.179 22.595.1 20.889.023 20.344.005 16 .005"/><path d="M16 7.786a8.214 8.214 0 1 0 0 16.428 8.214 8.214 0 0 0 0-16.428zm0 13.546a5.332 5.332 0 1 1 0-10.664 5.332 5.332 0 0 1 0 10.664zM26.458 7.462a1.92 1.92 0 1 1-3.84 0 1.92 1.92 0 0 1 3.84 0"/></g></svg>
            </a>
          </li>
        {% endif %}
        {% if settings.social-kickstarter-url != blank %}
          <li class="social-link kickstarter">
            <a href="{{ settings.social-kickstarter-url | escape }}" target="_blank">
              <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title><ly-as-9425171>Kickstarter</ly-as-9425171></title><path d="M30.084 32H1.916A1.916 1.916 0 0 1 0 30.083V1.916C0 .858.858 0 1.916 0h28.168C31.142 0 32 .858 32 1.916v28.167A1.916 1.916 0 0 1 30.084 32zM14.64 13.216l3.207-4.646c.606-.875 1.389-1.313 2.348-1.313.783 0 1.46.278 2.033.834.572.555.858 1.22.858 1.994 0 .572-.15 1.078-.454 1.515l-2.891 4.204 3.535 4.482c.353.446.53.968.53 1.566 0 .791-.277 1.47-.833 2.038a2.72 2.72 0 0 1-2.02.853c-.867 0-1.528-.282-1.982-.846l-4.33-5.404v2.98c0 .85-.148 1.51-.443 1.982-.538.858-1.32 1.288-2.348 1.288-.934 0-1.658-.316-2.171-.947-.48-.581-.72-1.351-.72-2.31V10.438c0-.91.244-1.658.732-2.247.514-.623 1.22-.935 2.121-.935.859 0 1.574.312 2.147.935.32.345.521.694.605 1.048.051.218.076.626.076 1.224v2.752z" fill="#000" fill-rule="evenodd"/></svg>
            </a>
          </li>
        {% endif %}
        {% if settings.social-vimeo-url != blank %}
          <li class="social-link vimeo">
            <a href="{{ settings.social-vimeo-url | escape }}" target="_blank">
              <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title><ly-as-9425172>Vimeo</ly-as-9425172></title><path d="M30.985 8.416c-.143 3.121-2.319 7.395-6.527 12.819-4.35 5.666-8.031 8.498-11.043 8.498-1.864 0-3.443-1.724-4.732-5.175L6.1 15.068c-.958-3.449-1.985-5.175-3.083-5.175-.24 0-1.077.504-2.511 1.51L-1 9.459C.58 8.07 2.137 6.68 3.67 5.287c2.106-1.824 3.687-2.783 4.741-2.88 2.49-.24 4.024 1.466 4.599 5.117.622 3.94 1.052 6.39 1.294 7.349.718 3.268 1.507 4.9 2.37 4.9.67 0 1.676-1.06 3.018-3.18 1.34-2.12 2.058-3.733 2.155-4.841.19-1.83-.528-2.747-2.155-2.747-.766 0-1.556.177-2.369.526 1.573-5.162 4.578-7.668 9.013-7.525 3.288.096 4.838 2.233 4.649 6.41" fill="#161C1A" fill-rule="evenodd"/></svg>
            </a>
          </li>
        {% endif %}
        {% if settings.social-youtube-url != blank %}
          <li class="social-link youtube-logo">
            <a href="{{ settings.social-youtube-url | escape }}" target="_blank">
              <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title><ly-as-9425173>YouTube</ly-as-9425173></title><path d="M31.663 8.853s-.312-2.204-1.271-3.175c-1.216-1.274-2.58-1.28-3.205-1.354C22.712 4 15.998 4 15.998 4h-.014s-6.713 0-11.189.324c-.625.074-1.988.08-3.204 1.354C.63 6.648.32 8.853.32 8.853S0 11.44 0 14.029v2.426c0 2.589.32 5.177.32 5.177s.312 2.204 1.27 3.174c1.217 1.274 2.816 1.234 3.527 1.367 2.559.246 10.874.322 10.874.322s6.72-.01 11.196-.334c.626-.075 1.989-.08 3.205-1.355.959-.97 1.271-3.174 1.271-3.174s.32-2.588.32-5.177V14.03c0-2.588-.32-5.176-.32-5.176zM12.69 19.396l-.002-8.986 8.642 4.508-8.64 4.478z" fill="#000" fill-rule="evenodd"/></svg>
            </a>
          </li>
        {% endif %}
        {% if settings.social-email-address != blank %}
          <li class="social-link email">
            <a href="mailto:{{ settings.social-email-address | escape }}" target="_blank">
              <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title><ly-as-9425174>Mail</ly-as-9425174></title><path d="M28.014 10.534V7.767l-12.03 6.884-12.03-6.884v2.767l12.03 6.82 12.03-6.82zm0-5.534c.797 0 1.49.279 2.076.836.586.557.879 1.2.879 1.93v16.469c0 .729-.293 1.372-.88 1.93a2.913 2.913 0 0 1-2.075.835H3.955c-.797 0-1.49-.279-2.076-.836-.586-.557-.879-1.2-.879-1.93V7.766c0-.729.293-1.372.88-1.93A2.913 2.913 0 0 1 3.954 5h24.059z" fill="#000" fill-rule="evenodd"/></svg>
            </a>
          </li>
        {% endif %}
        {% if settings.social-rss-url != blank %}
          <li class="social-link rss">
            <a href="{{ settings.social-rss-url | escape }}" target="_blank">
              <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title><ly-as-9425175>RSS</ly-as-9425175></title><path d="M-.465 2.01S28.7.574 31 31.32h-5.89S26.26 8.907-.466 6.895V2.01zm0 10.203s17.098-.577 20.402 19.107h-5.89S13.33 19.684-.465 17.094v-4.881zM2.736 25.03a3.736 3.736 0 1 1 .001 7.472 3.736 3.736 0 0 1 0-7.472z" fill="#000" fill-rule="evenodd"/></svg>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
</div>
