{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="footer-module footer-instagram footer-instagram-{{ block.settings.instagram-count }}-images"
  data-instagram-access-token="{{ block.settings.instagram-access-token }}"
  data-instagram-count="{{ block.settings.instagram-count }}">

  {% if block.settings.title != blank %}
    <h4>{{ block.settings.title | escape }}</h4>
  {% endif %}

  <div class="footer-instagram-photos">
    {% if block.settings.instagram-access-token == blank %}

      {% for i in (1..3) %}
        {% capture i %}{% cycle 1, 2, 3 %}{% endcapture %}
        <a class="footer-instagram-photo" href="/admin/themes/{{ theme.id }}/settings" target="_blank">
          {{ 'product-' | append: i | placeholder_svg_tag: 'placeholder-svg' }}
        </a>
      {% endfor %}

      <p style="font-size: 14px; padding: 0 7px; color: #777;">{% comment %}ly_i18n_replace_for_[ 'onboarding.instagram_widget.message' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'onboarding.instagram_widget.message' | t }}{% endcapture %}{% include 'ly-static-string' with '9425176' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
    {% endif %}
  </div>
</div>
