{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% assign item = product %}
{% if template contains 'search' %}
  {% assign item = item %}
{% elsif template contains 'product' %}
  {% assign item = prod %}
{% endif %}

{% assign saleText = 'products.product.sale' | t %}
{% capture percentage %}{{ item.compare_at_price_max | minus: item.price | times: 100.0 | divided_by: item.compare_at_price_max | money_without_currency | times: 100 | remove: '.0' }}%{% endcapture %}
{% assign saleText = saleText | replace: '{PCT}', percentage %}

{% if stockLevelOverlay and item.available %}
  {% assign total = 0 %}
  {% assign threshold = stockLevelOverlayThreshold | times: 1 %}
  {% assign infinity = false %}
  {% for variant in item.variants %}
    {% if variant.inventory_management == null %}
      {% assign infinity = true %}
    {% elsif variant.inventory_management == '' %}
      {% assign infinity = true %}
    {% elsif variant.inventory_management == 'shopify' and variant.inventory_policy == 'continue' %}
      {% assign infinity = true %}
    {% elsif infinity == false %}
      {% capture temp %}{{ total | plus: variant.inventory_quantity }}{% endcapture %}
      {% assign total = temp | times: 1 %}
    {% endif %}
  {% endfor %}
  {% assign stockText = 'products.product.stock_indicator_message' | t: num: total %}
{% endif %}

{% assign onSale = false %}
{% if item.compare_at_price_min > item.price_min %}
  {% assign onSale = true %}
{% endif %}

<div class="product-list-item">

  {% assign isSearch = false %}
  {% if template contains 'search' %}
    {% assign isSearch = true %}
  {% endif %}

  {% if productTextStyle == 'overlay' and isSearch == false %}
  <a class="product-list-item-overlay-link" href="{{ item.url | within: collection }}"></a>
  {% endif %}

  {% assign secondaryImage = false %}
  {% if item.images.size > 1 and productImageFlip %}
    {% assign secondaryImage = true %}
  {% endif %}

  {%- capture item_class -%}
    {%- if secondaryImage -%}
      <ly-as-9425213>primary-image</ly-as-9425213>
    {%- else -%}
      <ly-as-9425214>only-image</ly-as-9425214>
    {%- endif -%}
  {%- endcapture -%}

  <figure class="product-list-item-thumbnail" {% if secondaryImage %}style="background-image:url({{ item.images[1] | img_url: 'grande' }})"{% endif %}>
    <a href="{{ item.url | within: collection }}">
      {%
        include 'rimg',
        img: item.featured_image,
        size: '600x',
        class: item_class,
        lazy: true
      %}
    </a>

    {% if item.available %}
      {% if stockLevelOverlay
        and infinity == false
        and total < threshold
        and onSale
      %}
        <span class="product-list-item-badge meta sale">{{ saleText }}<br>{{ stockText }}</span>
      {% elsif stockLevelOverlay
        and infinity == false
        and total < threshold
      %}
        <span class="product-list-item-badge meta inventory">{{ stockText }}</span>
      {% elsif onSale %}
        <span class="product-list-item-badge meta sale">{{ saleText }}</span>
      {% endif %}
    {% else %}
      <span class="product-list-item-badge inventory">{% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '9425215' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
    {% endif %}
  </figure>

  {% if productTextStyle == 'overlay' and isSearch == false %}
  <div class="product-list-item-details-wrapper">
  {% endif %}

  <div class="product-list-item-details">

    <p class="product-list-item-vendor vendor meta">{{ item.vendor | link_to_vendor }}</p>
    <h3 class="product-list-item-title"><a href="{{ item.url | within: collection }}">{% comment %}ly_code_replace_for_[ item.title ]_begin{% endcomment %}{% include 'ly-title' with item %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></h3>
    <p class="product-list-item-price">
      {% if item.available %}
        {% if item.price_varies %}
          <span class="price">
            {% comment %}ly_i18n_replace_for_[ 'products.product.from' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.from' | t }}{% endcapture %}{% include 'ly-static-string' with '9425216' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <span class="money">{{ item.price_min | money }}</span>
          </span>
        {% else %}
          {% if onSale %}
            <span class="price on-sale">
              <span class="money">{{ item.price_min | money }}</span>
              <span class="original money">{{ item.compare_at_price_min | money }}</span>
            </span>
          {% else %}
            <span class="price money">{{ item.price_min | money }}</span>
          {% endif %}
        {% endif %}
      {% else %}
        {% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '9425215' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
      {% endif %}
    </p>
  </div>

  {% if productTextStyle == 'overlay' and isSearch == false %}
  </div>
  {% endif %}

</div>
