{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% assign default_country = '' %}
{% assign default_province = '' %}
{% assign default_zip = '' %}

{% if shippingCalculatorDefaultCountry != '' %}
  {% assign default_country = shippingCalculatorDefaultCountry %}
{% endif %}

{% if customer %}
  {% if customer.default_address.country != '' %}
    {% assign default_country = customer.default_address.country %}
  {% endif %}

  {% if customer.default_address.province != '' %}
    {% assign default_province = customer.default_address.province %}
  {% endif %}

  {% if customer.default_address.zip != '' %}
    {% assign default_zip = customer.default_address.zip %}
  {% endif %}
{% endif %}

{% assign shop_country = shop.address.country %}

<div class="cart-shipping-calculator">

  <h4>{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.header' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.header' | t }}{% endcapture %}{% include 'ly-static-string' with '9425231' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>

  <div class="cart-shipping-calculator-wrap rte">
    <div class="input-wrapper">
      <label for="address_country">{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.country' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.country' | t }}{% endcapture %}{% include 'ly-static-string' with '9425232' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
      <div class="country-select select-wrapper">
        <div class="selected-text"></div>
        <select
          id="address_country"
          class="address-country"
          name="address[country]"
          data-default="{% if default_country != blank %}{{ default_country }}{% else %}{{ shop_country }}{% endif %}">
            {{ country_option_tags }}
        </select>
      </div>
    </div>

    <div class="input-wrapper" id="address_province_container">
      <label for="address_province" id="address_province_label">{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.province' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.province' | t }}{% endcapture %}{% include 'ly-static-string' with '9425233' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
      <div class="province-select select-wrapper">
        <div class="selected-text"></div>
        <select
          id="address_province"
          class="address-province address_form"
          name="address[province]"
          data-default="{{ default_province }}">
        </select>
      </div>
    </div>

    <div class="zip-code input-wrapper">
      <label for="address_zip">{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.zip' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.zip' | t }}{% endcapture %}{% include 'ly-static-string' with '9425234' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
      <input
        id="address_zip"
        type="text"
        class="address-zip"
        class="field"
        name="address[zip]"
        {% if default_zip != blank %}value="{{ default_zip }}"{% endif %} />
    </div>

    <div class="input-wrapper">
      <input
        type="button"
        class="get-rates secondary"
        value="{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '9425235' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
    </div>
  </div>

  <div class="cart-shipping-calculator-response rte">
    <p>{% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.prompt' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.prompt' | t }}{% endcapture %}{% include 'ly-static-string' with '9425236' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
  </div>

</div>

<script type="application/json" data-shipping-calculator-strings>
  {
    "customerIsLoggedIn": {{ customer.default_address.country | default: false | json }},
    "submitButton": {% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.submit' | t | json ]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.submit' | t | json }}{% endcapture %}{% include 'ly-static-string' with '9425237' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | json }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %},
    "submitButtonDisabled": {% comment %}ly_i18n_replace_for_[ 'cart.shipping_calculator.disabled' | t | json]_begin{% endcomment %}{% capture ly_template %}{{ 'cart.shipping_calculator.disabled' | t | json}}{% endcapture %}{% include 'ly-static-string' with '9425238' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | json}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %},
    "moneyFormat": {{ shop.money_with_currency_format | json }}
  }
</script>
