{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<p class="account-logged-in-as">
  {% comment %}ly_i18n_replace_for_[ 'customers.general.logged_in_as' | t: customer_name: customer.name ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.general.logged_in_as' | t: customer_name: customer.name }}{% endcapture %}{% include 'ly-static-string' with '9425266' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = customer.name  %}{% assign ly_template = ly_template | replace: '[[customer_name]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} (<em>{% comment %}ly_i18n_replace_for_[ 'customers.general.logout' | t | customer_logout_link ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.general.logout' | t | customer_logout_link }}{% endcapture %}{% include 'ly-static-string' with '9425267' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | customer_logout_link }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</em>)
  &bull; <a href="/account/addresses">{% comment %}ly_i18n_replace_for_[ 'customers.addresses.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.addresses.title' | t }}{% endcapture %}{% include 'ly-static-string' with '9425268' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} ({{ customer.addresses_count }})</a>
</p>

{% if customer.addresses.size > 0 %}
  <div class="default-address">

    <h3>{% comment %}ly_i18n_replace_for_[ 'customers.account.default_address' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.account.default_address' | t }}{% endcapture %}{% include 'ly-static-string' with '9425269' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>

    <p>
      <span>{{ customer.default_address.first_name }} {{ customer.default_address.last_name }}</span><br>
      {% if customer.default_address.company != blank %}
        <span>{{ customer.default_address.company }}</span><br>
      {% endif %}
      {% if customer.default_address.street != blank %}
        <span>{{ customer.default_address.street }}</span><br>
      {% endif %}
      {% if customer.default_address.city != blank or customer.default_address.province_code != blank %}
        <span>{{ customer.default_address.city }}{% if customer.default_address.province_code %}, {{ customer.default_address.province_code }}{% endif %}</span><br>
      {% endif %}
      {% if customer.default_address.country != blank or customer.default_address.zip != blank %}
        <span>{{ customer.default_address.country }} {{ customer.default_address.zip }}</span><br>
      {% endif %}
      {% if customer.default_address.phone != blank %}
        <span>{{ customer.default_address.phone }}</span><br>
      {% endif %}
    </p>

    <p class="meta"><a href="/account/addresses">{% comment %}ly_i18n_replace_for_[ 'customers.addresses.edit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.addresses.edit' | t }}{% endcapture %}{% include 'ly-static-string' with '9425270' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></p>

  </div>
{% endif %}

<div class="order-history">

  <h3>{% comment %}ly_i18n_replace_for_[ 'customers.account.order_history' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.account.order_history' | t }}{% endcapture %}{% include 'ly-static-string' with '9425271' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>

  <table class="order-history-orders">
    <thead>
      <tr>
        <th class="first">{% comment %}ly_i18n_replace_for_[ 'customers.account.order' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.account.order' | t }}{% endcapture %}{% include 'ly-static-string' with '9425272' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
        <th>{% comment %}ly_i18n_replace_for_[ 'customers.account.payment' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.account.payment' | t }}{% endcapture %}{% include 'ly-static-string' with '9425273' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
        <th>{% comment %}ly_i18n_replace_for_[ 'customers.account.fulfillment' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.account.fulfillment' | t }}{% endcapture %}{% include 'ly-static-string' with '9425274' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
        <th class="last">{% comment %}ly_i18n_replace_for_[ 'general.general.total' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.total' | t }}{% endcapture %}{% include 'ly-static-string' with '9425275' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</th>
      </tr>
    </thead>

    <tbody>
      {% if customer.orders.size > 0 %}
        {% for order in customer.orders %}
          <tr class="{% include 'for-looper' %} {% if order.cancelled %}cancelled_order{% endif %}">
            <td class="order-number first">{{ order.name | link_to: order.customer_url }} <span class="date">- {{ order.created_at | date: format: 'short_month' }}</span></td>
            <td class="order-payment-status {{ order.financial_status_label }}">{{ order.financial_status_label | capitalize }}</td>
            <td class="order-fulfillment-status {{ order.fulfillment_status_label }}">{{ order.fulfillment_status_label | capitalize }}</td>
            <td class="total last"><span class="money">{{ order.total_price | money }}</span></td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="4" class="no-orders">{% comment %}ly_i18n_replace_for_[ 'customers.account.no_orders' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.account.no_orders' | t }}{% endcapture %}{% include 'ly-static-string' with '9425276' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>

</div>
