{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div data-section-id="{{ section.id }}" data-section-type="header">

  {%- assign logo = section.settings.image -%}
  {%- assign logoMaxWidth = section.settings.logo-max-width | escape -%}
  {%- assign mainMenu = section.settings.header-main-menu -%}

  <div class="main-header-wrapper">
    <header class="main-header clearfix" role="banner">

<!--       <form class="header-search-form" action="/search" method="get">
        <input class="header-search-input" name="q" type="text" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.search.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '9424432' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
      </form> -->
        
      <div class="branding">
        <a class="logo" href="/">
          <svg width="200" height="100" viewBox="0 0 200 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M153.704 1.44112V0.91568H162.33V1.45404C161.049 2.53075 160.715 4.11115 160.715 8.17736V31.0391C160.715 35.1046 161.049 36.6857 162.33 37.7631V38.3015H153.704V37.7713C154.995 36.6946 155.331 35.1169 155.331 31.0391V20.2802H136.028V31.0391C136.028 35.1719 136.327 36.7156 137.646 37.7821V38.3015H129.02V37.7855C130.342 36.7183 130.643 35.176 130.643 31.0391V8.17736C130.643 4.03977 130.342 2.49744 129.02 1.43092V0.91568H137.646V1.43364C136.327 2.50084 136.028 4.04385 136.028 8.17736V15.9237H155.331V8.17736C155.331 4.05337 154.995 2.50696 153.704 1.44112ZM88.8027 1.44581V0.915612H97.4195V1.45397C96.1408 2.52048 95.8083 4.06961 95.8083 8.17729V31.039C95.8083 35.146 96.1408 36.6952 97.4195 37.7624V38.3014H90.6269V34.3732C88.0876 37.6013 84.4808 39.2157 80.0107 39.2157C74.88 39.2157 70.6635 36.9025 68.784 32.9749C67.7679 30.9316 67.5143 29.2636 67.5143 24.6916V8.17729C67.5143 4.04378 67.2146 2.50077 65.8948 1.43357V0.915612H74.511V1.45329C73.2317 2.51912 72.8992 4.06825 72.8992 8.17729V24.6916C72.8992 28.5104 73.3049 30.1241 74.778 31.9533C76.3526 33.9443 78.8418 35.074 81.5853 35.074C84.7344 35.074 87.6807 33.5677 89.3059 31.1464C90.1699 29.9093 90.4235 28.7796 90.4235 26.6282V8.17729C90.4235 4.05942 90.0897 2.51165 88.8027 1.44581ZM49.8372 20.0119C57.8634 31.4152 62.3323 35.9341 66.5983 38.301C63.297 38.5695 62.3336 38.6232 61.2667 38.6232C58.2184 38.6232 56.5931 37.5478 52.987 32.9745C49.8372 29.0483 46.4846 24.0461 43.589 18.8284C49.6344 17.7524 52.5293 15.0627 52.5293 10.7055C52.5293 6.99345 49.8879 4.41179 46.0269 4.41179C44.8587 4.41179 43.8933 4.51919 42.268 4.84207V31.0393C42.268 35.1647 42.5671 36.7097 43.8804 37.7762V38.301H35.2643V37.783C36.5841 36.7158 36.8832 35.1728 36.8832 31.0393V8.17756C36.8832 4.04405 36.5841 2.49968 35.2643 1.43385V0.915204H42.268C42.7257 0.915204 43.589 0.915204 44.7573 0.861504C45.672 0.807805 46.4339 0.807805 47.0431 0.807805C50.5478 0.807805 53.037 1.5059 54.9672 3.01289C57.1522 4.73399 58.5233 7.53181 58.5233 10.2752C58.5233 14.6324 54.9171 18.6667 49.8372 20.0119ZM6.11145 18.7208C6.11145 27.6498 12.0541 34.643 19.6233 34.643C23.3315 34.643 26.6841 33.5677 31.3577 30.9316L28.6656 37.5476C25.7694 38.7854 23.5857 39.2157 20.3345 39.2157C8.09169 39.2157 0 31.4693 0 19.6887C0 8.33839 8.04162 0 19.0141 0C21.6555 0 24.9061 0.484656 28.6656 1.45261V7.96181C25.1095 5.81043 22.1632 4.8418 18.9121 4.8418C11.3936 4.8418 6.11145 10.5979 6.11145 18.7208ZM116.201 17.1515C121.259 19.9412 123.367 23.1781 123.367 28.145C123.367 34.8968 118.624 39.2499 111.247 39.2499C108.665 39.2499 106.188 38.7476 103.343 37.6314L102.868 30.9346H103.343C105.029 33.2784 108.138 34.7854 111.299 34.7854C115.041 34.7854 117.939 31.9393 117.939 28.2564C117.939 25.354 116.463 23.5683 112.301 21.2809C105.608 17.5974 103.395 14.8071 103.395 10.0638C103.395 4.37169 107.822 0.131462 113.829 0.131462C115.516 0.131462 116.463 0.297999 119.31 1.13544C119.836 1.24828 120.416 1.35976 120.733 1.35976C121.049 1.35976 121.206 1.30334 121.523 1.07902H122.05V7.99879H121.523C120.047 5.87868 117.36 4.59532 114.461 4.59532C111.142 4.59532 108.56 6.8276 108.56 9.67367C108.56 11.1249 109.139 12.3525 110.404 13.5244C111.194 14.3054 112.565 15.1986 116.201 17.1515ZM174.213 17.8293C171.625 16.0626 170.131 13.1629 170.131 9.92049C170.131 7.09956 171.326 4.35816 173.268 2.69687C174.985 1.24699 177.549 0.429937 180.312 0.429937C181.557 0.429937 182.902 0.561806 184.146 0.798356L184.346 4.67356C182.877 3.67298 181.632 3.25086 180.113 3.25086C177.101 3.25086 175.483 5.49197 175.483 9.63024C175.483 13.9541 177.674 16.6696 181.159 16.6696C182.827 16.6696 184.196 16.2475 186.611 14.9553L185.292 18.8047C183.673 19.305 182.304 19.4892 180.189 19.4892C177.574 19.4892 175.932 19.0419 174.213 17.8293ZM185.842 24.7064C188.021 24.7064 188.896 24.5806 190 24.0266L187.753 28.1051H170.621C168.936 28.1676 168.345 28.2927 167.213 28.7848L169.459 24.7064H185.842Z" transform="translate(6 30)" fill="black"/>
          </svg>
        </a>
      </div>      

      <div class="header-tools">
        <a class="cart-count {% if cart.item_count < 100 %}contain-count{% endif %}" href="/cart">
          <span class="bag-count">{{ cart.item_count }}</span>
          <span class="bag-text">{% comment %}ly_i18n_replace_for_[ 'layout.header.cart_item_count' | t: count: cart.item_count ]_begin{% endcomment %}{% if cart.item_count  == 0 %}{% capture ly_template %}{{ 'layout.header.cart_item_count' | t: count: cart.item_count }}{% endcapture %}{% include 'ly-static-string' with '9424434' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = cart.item_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif cart.item_count  == 1 %}{% capture ly_template %}{{ 'layout.header.cart_item_count' | t: count: cart.item_count }}{% endcapture %}{% include 'ly-static-string' with '9424433' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = cart.item_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif cart.item_count  == 2 %}{% capture ly_template %}{{ 'layout.header.cart_item_count' | t: count: cart.item_count }}{% endcapture %}{% include 'ly-static-string' with '9424434' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = cart.item_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'layout.header.cart_item_count' | t: count: cart.item_count }}{% endcapture %}{% include 'ly-static-string' with '9424434' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = cart.item_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
        </a>

        {% include 'currency-switcher' with 'header' %}
        {% include 'ly-languages-switcher' %}
      </div>

      <div class="mobile-header-tools">
        <span class="mobile-header-search-toggle">&#57346;</span>
        <a class="mobile-cart-count {% if cart.item_count < 100 %}contain-count{% endif %}" href="/cart">&#57348; <span class="bag-count">{{ cart.item_count }}</span></a>
        <span class="mobile-navigation-toggle"><span></span></span>
      </div>

      <nav class="navigation">
        <ul class="navigation-tier tier-1">
          {% for link in linklists[mainMenu].links %}
            {% assign showMegaNav = false %}

            {% if section.blocks.size > 0 %}
              {% assign megaNavImages = false %}

              {% for block in section.blocks %}
                {% assign megaNavHandle = block.settings.mega-nav-handle | handleize %}

                {% if megaNavHandle == link.handle %}
                  {% assign showMegaNav = true %}
                  {% assign megaNavImages = block.settings.mega-nav-images %}
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if showMegaNav %}
              <li
                class="mega-nav has-{{link.links.size}}-items"
                aria-haspopup="true"
                aria-controls="mega-menu-item-{{ link.handle }}"
                aria-expanded="false"
              >
                <a href="{{ link.url }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} <span class="mobile-tier-toggle"></span></a>
                {% include 'mega-navigation' with megaNavImages %}
              </li>
            {% else %}
              {% assign list = link.links %}
              {% include 'has-dropdown' %}
              <li
                class="{% if has-dropdown %}has-dropdown{% endif %} regular-nav"
                {% if has-dropdown %}
                  aria-haspopup="true"
                  aria-controls="menu-item-{{ link.handle }}"
                  aria-expanded="false"
                {% endif %}
              >
                <a href="{{ link.url }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} {% if has-dropdown %}<span class="mobile-tier-toggle"></span>{% endif %}</a>
                {% if has-dropdown %}
                  {% assign index = 2 %}
                  {% include 'navigation-links' %}
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
          {% if shop.customer_accounts_enabled %}
            <li class="customer-links">
              {% if customer %}
                <a href="/account">{% comment %}ly_i18n_replace_for_[ 'customers.account.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.account.title' | t }}{% endcapture %}{% include 'ly-static-string' with '9424437' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              {% else %}
                {% comment %}ly_i18n_replace_for_[ 'customers.account.title' | t | customer_login_link ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.account.title' | t | customer_login_link }}{% endcapture %}{% include 'ly-static-string' with '9424438' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | customer_login_link }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
              {% endif %}
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
  </div>
</div>
{% schema %}
{
  "name": "Header",
  "max_blocks": 4,
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Logo image",
      "info": "450 x 200px .jpg recommended"
    },
    {
      "id": "logo-max-width",
      "type": "range",
      "label": "Logo max width",
      "min": 100,
      "max": 200,
      "step": 1,
      "unit": "px",
      "default": 200
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "header-main-menu",
      "label": "Main menu",
      "default": "main-menu"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Mega menu",
      "settings": [
        {
          "type": "text",
          "id": "mega-nav-handle",
          "label": "Menu item",
          "info": "Enter menu item to apply a mega menu dropdown."
        },
        {
          "type": "checkbox",
          "id": "mega-nav-images",
          "label": "Show images for products and collections"
        }
      ]
    }
  ]
}

{% endschema %}