{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div data-section-id="{{ section.id }}" data-section-type="header">

  {%- assign logo = section.settings.image -%}
  {%- assign logoMaxWidth = section.settings.logo-max-width | escape -%}
  {%- assign mainMenu = section.settings.header-main-menu -%}

  <div class="main-header-wrapper">
    <header class="main-header clearfix" role="banner">

      <form class="header-search-form" action="/search" method="get">
        <input class="header-search-input" name="q" type="text" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.search.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.search.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '9424432' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" />
      </form>

      <div class="branding">
        {% if logo != blank %}
          <a class="logo" href="/">
            {% capture logo_style %}
              max-width: {{ logoMaxWidth }}px;
            {% endcapture %}

            {%
              include 'rimg',
              img: logo,
              alt: shop.name,
              size: '400x200',
              style: logo_style
            %}
          </a>
        {% else %}
          {% if template contains 'index' %}
            <h1 class="site-title">{{ langify_shop_name }}</h1>
          {% else %}
            <div class="site-title"><a href="/">{{ langify_shop_name }}</a></div>
          {% endif %}
        {% endif %}
      </div>

      <div class="header-tools">
        <a class="cart-count {% if cart.item_count < 100 %}contain-count{% endif %}" href="/cart">
          <span class="bag-count">{{ cart.item_count }}</span>
          <span class="bag-text">{% comment %}ly_i18n_replace_for_[ 'layout.header.cart_item_count' | t: count: cart.item_count ]_begin{% endcomment %}{% if cart.item_count  == 0 %}{% capture ly_template %}{{ 'layout.header.cart_item_count' | t: count: cart.item_count }}{% endcapture %}{% include 'ly-static-string' with '9424434' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = cart.item_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif cart.item_count  == 1 %}{% capture ly_template %}{{ 'layout.header.cart_item_count' | t: count: cart.item_count }}{% endcapture %}{% include 'ly-static-string' with '9424433' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = cart.item_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% elsif cart.item_count  == 2 %}{% capture ly_template %}{{ 'layout.header.cart_item_count' | t: count: cart.item_count }}{% endcapture %}{% include 'ly-static-string' with '9424434' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = cart.item_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% else %}{% capture ly_template %}{{ 'layout.header.cart_item_count' | t: count: cart.item_count }}{% endcapture %}{% include 'ly-static-string' with '9424434' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = cart.item_count  %}{% assign ly_template = ly_template | replace: '[[count]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
        </a>

        {% include 'currency-switcher' with 'header' %}
        {% include 'ly-languages-switcher' %}
      </div>

      <div class="mobile-header-tools">
        <span class="mobile-header-search-toggle">&#57346;</span>
        <a class="mobile-cart-count {% if cart.item_count < 100 %}contain-count{% endif %}" href="/cart">&#57348; <span class="bag-count">{{ cart.item_count }}</span></a>
        <span class="mobile-navigation-toggle"><span></span></span>
      </div>

      <nav class="navigation">
        <ul class="navigation-tier tier-1">
          {% for link in linklists[mainMenu].links %}
            {% assign showMegaNav = false %}

            {% if section.blocks.size > 0 %}
              {% assign megaNavImages = false %}

              {% for block in section.blocks %}
                {% assign megaNavHandle = block.settings.mega-nav-handle | handleize %}

                {% if megaNavHandle == link.handle %}
                  {% assign showMegaNav = true %}
                  {% assign megaNavImages = block.settings.mega-nav-images %}
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if showMegaNav %}
              <li
                class="mega-nav has-{{link.links.size}}-items"
                aria-haspopup="true"
                aria-controls="mega-menu-item-{{ link.handle }}"
                aria-expanded="false"
              >
                <a href="{{ link.url }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} <span class="mobile-tier-toggle"></span></a>
                {% include 'mega-navigation' with megaNavImages %}
              </li>
            {% else %}
              {% assign list = link.links %}
              {% include 'has-dropdown' %}
              <li
                class="{% if has-dropdown %}has-dropdown{% endif %} regular-nav"
                {% if has-dropdown %}
                  aria-haspopup="true"
                  aria-controls="menu-item-{{ link.handle }}"
                  aria-expanded="false"
                {% endif %}
              >
                <a href="{{ link.url }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} {% if has-dropdown %}<span class="mobile-tier-toggle"></span>{% endif %}</a>
                {% if has-dropdown %}
                  {% assign index = 2 %}
                  {% include 'navigation-links' %}
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
          {% if shop.customer_accounts_enabled %}
            <li class="customer-links">
              {% if customer %}
                <a href="/account">{% comment %}ly_i18n_replace_for_[ 'customers.account.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.account.title' | t }}{% endcapture %}{% include 'ly-static-string' with '9424437' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
              {% else %}
                {% comment %}ly_i18n_replace_for_[ 'customers.account.title' | t | customer_login_link ]_begin{% endcomment %}{% capture ly_template %}{{ 'customers.account.title' | t | customer_login_link }}{% endcapture %}{% include 'ly-static-string' with '9424438' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | customer_login_link }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
              {% endif %}
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
  </div>
</div>
{% schema %}
{
  "name": "Header",
  "max_blocks": 4,
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Logo image",
      "info": "450 x 200px .jpg recommended"
    },
    {
      "id": "logo-max-width",
      "type": "range",
      "label": "Logo max width",
      "min": 100,
      "max": 200,
      "step": 1,
      "unit": "px",
      "default": 200
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "header-main-menu",
      "label": "Main menu",
      "default": "main-menu"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Mega menu",
      "settings": [
        {
          "type": "text",
          "id": "mega-nav-handle",
          "label": "Menu item",
          "info": "Enter menu item to apply a mega menu dropdown."
        },
        {
          "type": "checkbox",
          "id": "mega-nav-images",
          "label": "Show images for products and collections"
        }
      ]
    }
  ]
}

{% endschema %}