{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{%- capture cartText -%}
  {% comment %}ly_i18n_replace_for_[ 'layout.header.cart_item_count.one' | t | append: '|' ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.cart_item_count.one' | t | append: '|' }}{% endcapture %}{% include 'ly-static-string' with '9425130' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | append: '|' }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}{% comment %}ly_i18n_replace_for_[ 'layout.header.cart_item_count.other' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.header.cart_item_count.other' | t }}{% endcapture %}{% include 'ly-static-string' with '9425131' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
{%- endcapture -%}

<script
  type="application/json"
  data-section-type="page-product"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "settings": {{ settings | json }},
    "product": {{ product | json }},
    "firstVariant": {{ product.selected_or_first_available_variant | json }},
    "section": {{ section.settings | json }},
    "cartText": {{ cartText | split: '|' | json }},
    "productSettings": {
      "addToCartText": {{ add_to_cart_text | json }},
      "enableHistory": {{ enable_history | json }},
      "imageZoom": {{ section.settings.enable_zoom }},
      "linkedOptions": true,
      "soldOutText": {% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t | json ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t | json }}{% endcapture %}{% include 'ly-static-string' with '9425132' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | json }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %},
      "unavailableText": {% comment %}ly_i18n_replace_for_[ 'products.product.unavailable' | t | json ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.unavailable' | t | json }}{% endcapture %}{% include 'ly-static-string' with '9425133' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape | json }}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
    }
  }
</script>

<div data-section-id="{{ section.id }}">

  {% assign productTextStyle = settings.product_text_style %}
  {% assign productImageFlip = settings.product_image_flip %}
  {% assign enableRelatedProducts = section.settings.enable_related_products %}
  {% assign productsPerRow = section.settings.products_in_row %}
  {% assign productColumnLayout = section.settings.product_column_layout %}
  {% assign collection = collection | default: product.collections.first %}

  {% assign variant = product.selected_or_first_available_variant %}
  {% if product.images.size > 0 %}
    {% assign columns = section.settings.product_column_layout %}
  {% else %}
    {% assign columns = "single-column" %}
  {% endif %}

  <div class="product-wrap {{columns}} clearfix" itemscope itemtype="http://schema.org/Product">

    {% assign numModules = 4 %}

    {% for i in (1..numModules) %}
      {% capture moduleNames %}{{ moduleNames }}|product-module-{{i}}{% endcapture %}
    {% endfor %}

    {% assign modules = moduleNames | remove_first: "|" | split: "|" %}
    {% assign moduleOrder = "" %}

    {% for module in modules %}
      {% capture moduleOrder %}{{ moduleOrder }}-{{ settings[module] }}{% endcapture %}
    {% endfor %}

    {% comment %}
      Changing the following will rearrange the module order.
      Must have the prefixed '-'.
    {% endcomment %}
    {% assign moduleOrder = '-A-B-C-D' %}

    {% if productColumnLayout == "two-column" %}
      {% assign moduleOrder = moduleOrder | remove: "A" | prepend: "A-" %}
    {% endif %}
    {% assign modules = moduleOrder | remove_first: "-" | split: "-" %}

    {% for module in modules %}
      {% case module %}
        {% when 'A' %}
          {% include 'product-images' %}
        {% when 'B' %}
          {% include 'product-form' %}
        {% when 'C' %}
          {% include 'product-description' %}
        {% when 'D' %}
          {% include 'share-buttons' %}
      {% endcase %}
    {% endfor %}
  </div>

  {% if enableRelatedProducts and collection.products.size > 1 %}
    <div class="related-products">

      <h4 class="section-title">{% comment %}ly_i18n_replace_for_[ 'products.related_products.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.related_products.title' | t }}{% endcapture %}{% include 'ly-static-string' with '9425134' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h4>

      {% assign numberOfRelatedProductsToShow = productsPerRow | plus: 1 %}

      {% if collection == null %}
        {% assign collection = collections['all'] %}
      {% endif %}

      {% if collection.products.size > 1 %}
        <div class="related-products-listing {{productLayout}}-layout {{productTextStyle}}-style rows-of-{{productsPerRow}}">
          {% assign currentProductFound = false %}
          {% for prod in collection.products limit: numberOfRelatedProductsToShow %}
            {% if prod.title == product.title %}
              {% assign currentProductFound = true %}
            {% else %}
              {% unless currentProductFound == false and forloop.last %}
                {% include 'product-list-item' %}
              {% endunless %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Product pages",
  "class": "section-product",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_zoom",
      "label": "Enable zoom",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_product_quantity",
      "label": "Enable cart quantity box",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_spb",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": false
    },
    {
      "type": "select",
      "id": "product_column_layout",
      "label": "Layout",
      "options": [
        {
          "value": "single-column",
          "label": "Single column"
        },
        {
          "value": "two-column",
          "label": "Double column"
        }
      ],
      "default": "single-column"
    },
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "checkbox",
      "id": "enable_related_products",
      "label": "Show related products",
      "default": false
    },
    {
      "type": "range",
      "id": "products_in_row",
      "label": "Related products",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 4
    }
  ]
}

{% endschema %}