{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div data-section-id="{{ section.id }}" data-section-type="page-collection">

  {% assign productTextStyle = settings.product_text_style %}
  {% assign productImageFlip = settings.product_image_flip %}
  {% assign collectionImage = section.settings.show_featured_image %}
  {% assign collectionSorting = section.settings.collection_sorting %}
  {% assign collectionFiltering = section.settings.collection_filtering %}
  {% assign productLayout = section.settings.product_grid_layout %}
  {% assign stockLevelOverlay = section.settings.stock_level_overlay %}
  {% assign stockLevelOverlayThreshold = section.settings.stock_level_overlay_range %}
  {% assign productsPerRow = section.settings.products_in_row %}
  {% assign productsPerPage = productsPerRow | times: section.settings.rows %}

  {% include 'collection-header' %}

  {% paginate collection.products by productsPerPage %}

    {% assign platforms = 0 %}
    {% if settings.share-widget-facebook %}{% assign platforms = platforms | plus: 1 %}{% endif %}
    {% if settings.share-widget-twitter %}{% assign platforms = platforms | plus: 1 %}{% endif %}
    {% if settings.share-widget-pinterest %}{% assign platforms = platforms | plus: 1 %}{% endif %}
    {% if settings.share-widget-fancy %}{% assign platforms = platforms | plus: 1 %}{% endif %}
    {% if settings.share-widget-google-plus %}{% assign platforms = platforms | plus: 1 %}{% endif %}
    {% if settings.share-widget-email %}{% assign platforms = platforms | plus: 1 %}{% endif %}

    {% if platforms > 0 %}
      <div class="collection-sharing meta">
        <span class="collection-sharing-toggle">{% comment %}ly_i18n_replace_for_[ 'general.share_buttons.share' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.share_buttons.share' | t }}{% endcapture %}{% include 'ly-static-string' with '9425115' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>

        {% include 'share-buttons' %}
      </div>
    {% endif %}

    {% if collectionSorting or collectionFiltering %}
      <div class="collection-viewing-parameters">

        {% if collectionSorting %}
          <div class="collection-sorting {% if collection.current_vendor %}vendor-collection{% endif %}">
            <div class="select-wrapper">

              {% assign sortHandles = "manual|price-ascending|price-descending|title-ascending|title-descending|created-ascending|created-descending|best-selling" | split: "|" %}
              {% capture sortTitles %}{% comment %}ly_i18n_replace_for_[ 'collections.collection_sorting.manual' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection_sorting.manual' | t }}{% endcapture %}{% include 'ly-static-string' with '9425116' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}|{% comment %}ly_i18n_replace_for_[ 'collections.collection_sorting.price-ascending' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection_sorting.price-ascending' | t }}{% endcapture %}{% include 'ly-static-string' with '9425117' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}|{% comment %}ly_i18n_replace_for_[ 'collections.collection_sorting.price-descending' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection_sorting.price-descending' | t }}{% endcapture %}{% include 'ly-static-string' with '9425118' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}|{% comment %}ly_i18n_replace_for_[ 'collections.collection_sorting.title-ascending' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection_sorting.title-ascending' | t }}{% endcapture %}{% include 'ly-static-string' with '9425119' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}|{% comment %}ly_i18n_replace_for_[ 'collections.collection_sorting.title-descending' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection_sorting.title-descending' | t }}{% endcapture %}{% include 'ly-static-string' with '9425120' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}|{% comment %}ly_i18n_replace_for_[ 'collections.collection_sorting.created-ascending' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection_sorting.created-ascending' | t }}{% endcapture %}{% include 'ly-static-string' with '9425121' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}|{% comment %}ly_i18n_replace_for_[ 'collections.collection_sorting.created-descending' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection_sorting.created-descending' | t }}{% endcapture %}{% include 'ly-static-string' with '9425122' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}|{% comment %}ly_i18n_replace_for_[ 'collections.collection_sorting.best-selling' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection_sorting.best-selling' | t }}{% endcapture %}{% include 'ly-static-string' with '9425123' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}{% endcapture %}
              {% assign sortTitles = sortTitles | split: "|" %}

              {% for handle in sortHandles %}
                {% if collection.sort_by == blank and collection.default_sort_by == handle %}
                  {% assign currentTitle = sortTitles[forloop.index0] %}
                {% elsif collection.sort_by == handle %}
                  {% assign currentTitle = sortTitles[forloop.index0] %}
                {% endif %}
              {% endfor %}

              <label class="selected-text">{% comment %}ly_i18n_replace_for_[ 'collections.collection_sorting.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection_sorting.title' | t }}{% endcapture %}{% include 'ly-static-string' with '9425124' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} <strong>{{ currentTitle }}</strong></label>
              <select>
                {% for handle in sortHandles %}
                  {% if collection.sort_by == blank and collection.default_sort_by == handle %}
                    <option value="{{handle}}" selected="selected">{{ sortTitles[forloop.index0] }}</option>
                  {% elsif collection.sort_by == handle %}
                    <option value="{{handle}}" selected="selected">{{ sortTitles[forloop.index0] }}</option>
                  {% else %}
                    <option value="{{handle}}">{{ sortTitles[forloop.index0] }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        {% endif %}

        {% if collection.handle != blank and collectionFiltering %}

          <div class="collection-filtering" data-fallback-url="/collections/{{collection.handle}}">

            {% assign tagLinkLists = "collection_filter_link_list_1|collection_filter_link_list_2|collection_filter_link_list_3" | split: "|" %}
            {% assign availableLinks = false %}

            {% for list in tagLinkLists %}

              {% assign name = section.settings[list] %}

              {% if linklists[name].links.size > 0 %}

                {% assign availableLinks = true %}

                <div class="collection-filter">
                  <div class="select-wrapper">
                    <label class="selected-text">{% comment %}ly_code_replace_for_[ linklists[name].title ]_begin{% endcomment %}{% include 'ly-title' with linklists[name] %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}: <strong>{% comment %}ly_i18n_replace_for_[ 'collections.collection.any_tag' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection.any_tag' | t }}{% endcapture %}{% include 'ly-static-string' with '9425125' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</strong></label>
                    <select>
                      <option value="any">{% comment %}ly_i18n_replace_for_[ 'collections.collection.any_tag' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection.any_tag' | t }}{% endcapture %}{% include 'ly-static-string' with '9425125' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</option>

                      {% assign currentTagsHandles = '' %}

                      {% for tag in current_tags %}
                        {% assign tagHandle = tag | handleize %}

                        {% if forloop.index == 1 %}
                          {% assign currentTagsHandles = tagHandle %}
                        {% else %}
                          {% assign currentTagsHandles = currentTagsHandles | append: '|' | append: tagHandle %}
                        {% endif %}
                      {% endfor %}

                      {% assign currentTagsHandles = currentTagsHandles | split: '|' %}

                      {% for link in linklists[name].links %}
                        {% assign tagHandle = link.title | handleize %}
						            {% assign tagTitle = link.title | downcase %}
                        {% if collection.all_tags contains link.title or collection.all_tags contains tagTitle %}
                          {% if currentTagsHandles contains tagHandle %}
                            <option value="{{ tagHandle }}" selected>{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</option>
                          {% else %}
                            <option value="{{ tagHandle }}">{% comment %}ly_code_replace_for_[ link.title ]_begin{% endcomment %}{% include 'ly-title' with link %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</option>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

            {% if availableLinks == false and collection.tags.size > 0 %}
              {% comment %}
                There were no links found in any of the link lists
              {% endcomment %}

              <div class="collection-filter">
                <div class="select-wrapper">
                  <label class="selected-text">{% comment %}ly_i18n_replace_for_[ 'collections.collection.tags_label' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection.tags_label' | t }}{% endcapture %}{% include 'ly-static-string' with '9425126' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}: <strong>{% comment %}ly_i18n_replace_for_[ 'collections.collection.any_tag' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection.any_tag' | t }}{% endcapture %}{% include 'ly-static-string' with '9425125' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</strong></label>
                  <select>
                    <option value="any">{% comment %}ly_i18n_replace_for_[ 'collections.collection.any_tag' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection.any_tag' | t }}{% endcapture %}{% include 'ly-static-string' with '9425125' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</option>
                    {% for tag in collection.tags %}
                      {% if current_tags contains tag %}
                        <option value="{{ tag | handleize }}" selected>{{ tag }}</option>
                      {% else %}
                        <option value="{{ tag | handleize }}">{{ tag }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
            {% endif %}

          </div>

          {% if current_tags.size > 0 %}
            <span class="meta collection-remove-filter">{% comment %}ly_i18n_replace_for_[ 'collections.collection.reset_tags' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection.reset_tags' | t }}{% endcapture %}{% include 'ly-static-string' with '9425127' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
          {% endif %}
        {% endif %}

      </div>
    {% endif %}

    <div class="collection-products clearfix
      {{productLayout}}-layout
      {{productTextStyle}}-style
      rows-of-{{productsPerRow}}
      {% if collection.products.size == 0 %}collection-empty{% endif %}"
      data-layout="{{productLayout}}">

      {% for product in collection.products %}
        {% include 'product-list-item' %}
      {% else %}
        <p class="empty">{% comment %}ly_i18n_replace_for_[ 'collections.collection.empty' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection.empty' | t }}{% endcapture %}{% include 'ly-static-string' with '9425128' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} {% if current_tags.size > 0 %}{% comment %}ly_i18n_replace_for_[ 'collections.collection.empty_tag_filter' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'collections.collection.empty_tag_filter' | t }}{% endcapture %}{% include 'ly-static-string' with '9425129' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}{% endif %}</p>
      {% endfor %}
    </div>

    {% include 'pagination' %}

  {% endpaginate %}

  <script>
    window.sectionJSON = {{ section.settings | json }};
  </script>

</div>

{% schema %}
{
  "name": "Collection pages",
  "class": "section-collection",
  "settings": [
    {
      "type": "select",
      "id": "product_grid_layout",
      "label": "Layout",
      "options": [
        {
          "value": "masonry",
          "label": "Collage"
        },
        {
          "value": "uniform",
          "label": "Grid"
        }
      ],
      "default": "uniform"
    },
    {
      "type": "select",
      "id": "products_pagination_method",
      "label": "Pagination method",
      "options": [
        {
          "value": "standard-pagination",
          "label": "Standard pagination"
        },
        {
          "value": "jump-to-page-pagination",
          "label": "Jump-to-page pagination"
        }
      ],
      "default": "standard-pagination"
    },
    {
      "type": "range",
      "id": "products_in_row",
      "label": "Products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "rows",
      "label": "Rows",
      "min": 1,
      "max": 50,
      "step": 1,
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "show_featured_image",
      "label": "Show collection image"
    },
    {
      "type": "header",
      "content": "Filters"
    },
    {
      "type": "checkbox",
      "id": "collection_sorting",
      "label": "Enable sorting ([?](http:\/\/www.pixelunion.net\/support\/pacific-theme-manual/#sorting))",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collection_filtering",
      "label": "Enable tag filtering ([?](http:\/\/www.pixelunion.net\/support\/pacific-theme-manual/#filtering))",
      "default": false
    },
    {
      "type": "paragraph",
      "content": "Create up to three menus to filter your collections by (e.g., 'Colour', 'Size' and 'Material'). Leave all three set to 'None' if you want to have a single dropdown that lists all of the collection's tags."
    },
    {
      "type": "link_list",
      "id": "collection_filter_link_list_1",
      "label": "Menu 1"
    },
    {
      "type": "link_list",
      "id": "collection_filter_link_list_2",
      "label": "Menu 2"
    },
    {
      "type": "link_list",
      "id": "collection_filter_link_list_3",
      "label": "Menu 3"
    },
    {
      "type": "header",
      "content": "Stock level indicator"
    },
    {
      "type": "checkbox",
      "id": "stock_level_overlay",
      "label": "Enable indicator"
    },
    {
      "type": "range",
      "id": "stock_level_overlay_range",
      "label": "Show warning when stock is below:",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 5
    }
  ]
}

{% endschema %}