{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<script
  type="application/json"
  data-section-type="password"
  data-section-id="{{ section.id }}"
></script>

<h2>{% comment %}ly_i18n_replace_for_[ 'password.general.opening_soon' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.opening_soon' | t }}{% endcapture %}{% include 'ly-static-string' with '9425135' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h2>

{% if shop.password_message != blank %}
  <p>{{ shop.password_message }}</p>
{% endif %}

<div class="password-subscribe-wrapper visible">
  {% form 'customer', class: 'password-subscribe-form' %}
    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      <p class="form-success">{% comment %}ly_i18n_replace_for_[ 'password.general.subscribe_form_success' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.subscribe_form_success' | t }}{% endcapture %}{% include 'ly-static-string' with '9425136' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
    {% else %}
      {% if section.settings.newsletter_text != blank %}
        {{ section.settings.newsletter_text }}
      {% endif %}

      <input class="password-input" type="text" name="contact[email]" id="email" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.general.email_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.email_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '9425137' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
      <input class="submit password-button" name="commit" type="submit" value="{% comment %}ly_i18n_replace_for_[ 'password.general.subscribe' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.subscribe' | t }}{% endcapture %}{% include 'ly-static-string' with '9425138' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
      <input type="hidden" name="contact[tags]" value="prospect, password page">
    {% endif %}
  {% endform %}
</div>

<div class="password-form-wrapper">
  {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <div class="{% if form.errors %}has-errors{% endif %}" data-password-form-inner>
      <input class="password-input" type="password" name="password" id="password" placeholder="{% comment %}ly_i18n_replace_for_[ 'password.general.use_password' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.use_password' | t }}{% endcapture %}{% include 'ly-static-string' with '9425139' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" autofocus>
      <input class="submit password-button" name="submit" type="submit" value="{% comment %}ly_i18n_replace_for_[ 'password.general.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '9425140' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
    </div>
  {% endform %}
</div>

<a class="password-entry" href="#" data-enter-password="{% comment %}ly_i18n_replace_for_[ 'password.general.use_password' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.use_password' | t }}{% endcapture %}{% include 'ly-static-string' with '9425139' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" data-cancel="{% comment %}ly_i18n_replace_for_[ 'password.general.cancel' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.cancel' | t }}{% endcapture %}{% include 'ly-static-string' with '9425141' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">{% comment %}ly_i18n_replace_for_[ 'password.general.use_password' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.use_password' | t }}{% endcapture %}{% include 'ly-static-string' with '9425139' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>

{% schema %}
{
  "name": "Password pages",
  "class": "section-password",
  "settings": [
    {
      "type": "richtext",
      "id": "newsletter_text",
      "label": "Newsletter text"
    }
  ]
}

{% endschema %}