{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="blog-post">

  <div class="rte post-content">
    {% if article.image %}
      <div class="post-image">
        {%
          include 'rimg',
          img: article.image,
          alt: article.title,
          size: '1024x1024',
          lazy: true
        %}
      </div>
    {% endif %}
    {% comment %}ly_code_replace_for_[ article.content ]_begin{% endcomment %}{% include 'ly-content' with article %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
  </div>

  <div class="post-meta meta">
    <span class="post-date">{{ article.published_at | date: format: 'short_month' }}</span>
    {% if settings.blog-show-author %}
      <span class="post-author">&bull; {{ article.author }}</span>
    {% endif %}
    {% if article.tags.size > 0 and settings.blog-show-tags %}
      <span class="post-tags">&bull;
        {% for tag in article.tags %}
          <a href="{{ blog.url }}/tagged/{{ tag | handle }}">#{{ tag }}</a>
        {% endfor %}
      </span>
    {% endif %}
  </div>

</div>

{% include 'share-buttons' %}

{% if blog.next_article or blog.previous_article %}
<div class="single-post-pagination clearfix">
  <div class="previous-post">
    {% if blog.previous_article %}<a href="{{ blog.previous_article }}">{% else %}<span>{% endif %}
    {% comment %}ly_i18n_replace_for_[ 'blogs.article_pagination.previous' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article_pagination.previous' | t }}{% endcapture %}{% include 'ly-static-string' with '9425250' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
    {% if blog.previous_article %}</a>{% else %}</span>{% endif %}
  </div>
  <div class="next-post">
    {% if blog.next_article %}<a href="{{ blog.next_article }}">{% else %}<span>{% endif %}
    {% comment %}ly_i18n_replace_for_[ 'blogs.article_pagination.next' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.article_pagination.next' | t }}{% endcapture %}{% include 'ly-static-string' with '9425251' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
    {% if blog.next_article %}</a>{% else %}</span>{% endif %}
  </div>
</div>
{% endif %}

{% if article.comments_enabled? %}

<div class="post-comments" id="comments">

  {% if article.comments_count > 0 %}
    <div class="post-comments-list">

      <h3 class="section-title">{% comment %}ly_i18n_replace_for_[ 'blogs.comments.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.comments.title' | t }}{% endcapture %}{% include 'ly-static-string' with '9425252' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>

      {% paginate article.comments by 10 %}
        {% for comment in article.comments %}
          <div class="post-comment rte" id="comment-{{ comment.id }}">
            <p class="post-comment-author">{{ comment.author }}:</p>

            {% comment %}ly_code_replace_for_[ comment.content ]_begin{% endcomment %}{% include 'ly-content' with comment %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}

            <p class="post-comment-date meta">{{ comment.created_at | date: format: "short_month" }}</p>
          </div>
        {% endfor %}

        {% if paginate.previous or paginate.next %}
          {% include 'pagination' %}
        {% endif %}

      {% endpaginate %}
    </div>
  {% endif %}

  <div class="post-comments-submit">
    <h3>{% comment %}ly_i18n_replace_for_[ 'blogs.comments.form_header' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.comments.form_header' | t }}{% endcapture %}{% include 'ly-static-string' with '9425253' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h3>

    {% form article %}

      {% if form.posted_successfully? %}
        <p>
        {% if blog.moderated? %}
          {% comment %}ly_i18n_replace_for_[ 'blogs.comments.comment_pending' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.comments.comment_pending' | t }}{% endcapture %}{% include 'ly-static-string' with '9425254' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
        {% else %}
          {% comment %}ly_i18n_replace_for_[ 'blogs.comments.comment_success' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.comments.comment_success' | t }}{% endcapture %}{% include 'ly-static-string' with '9425255' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
        {% endif %}
        </p>
      {% endif %}

      {% if form.errors %}
        {{ form.errors | default_errors }}
      {% endif %}

      {% unless form.posted_successfully? %}
        <div class="input-wrapper {% if form.errors contains "author" %}error{% endif %}">
          <label>{% comment %}ly_i18n_replace_for_[ 'general.general.name' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.name' | t }}{% endcapture %}{% include 'ly-static-string' with '9425256' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
          <input type="text" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.general.name_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.name_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '9425257' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{{ form.author }}" name="comment[author]">
        </div>

        <div class="input-wrapper {% if form.errors contains "email" %}error{% endif %}">
          <label>{% comment %}ly_i18n_replace_for_[ 'general.general.email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.email' | t }}{% endcapture %}{% include 'ly-static-string' with '9425258' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
          <input type="email" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.general.email_placeholder' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.email_placeholder' | t }}{% endcapture %}{% include 'ly-static-string' with '9425259' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" value="{{ form.email }}" name="comment[email]">
        </div>

        <div class="input-wrapper {% if form.errors contains "body" %}error{% endif %}">
          <label>{% comment %}ly_i18n_replace_for_[ 'general.general.message' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.general.message' | t }}{% endcapture %}{% include 'ly-static-string' with '9425260' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
          <textarea name="comment[body]" rows="11">{{ form.body }}</textarea>
        </div>

        <div class="input-wrapper">
          <input type="submit" value="{% comment %}ly_i18n_replace_for_[ 'blogs.comments.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.comments.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '9425261' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
        </div>
      {% endunless %}

    {% endform %}
  </div>

</div>
{% endif %}
