{% layout none %}

<!doctype html>
<!--[if IE 7]><html class="no-js ie7 lt-ie8 lt-ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>
    {{ page_title }}

    {% if current_tags %}
      &ndash; {{ 'blogs.blog.seo_title' | t }} "{{ current_tags | join: ', ' }}"
    {% endif %}

    {% if current_page != 1 %}
      &ndash; {{ 'general.pagination.seo_title' | t }} {{ current_page }}
    {% endif %}

    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width" />

  {{ content_for_header }}

  <!-- Theme CSS -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Third Party JS Libraries -->
  {{ 'modernizr-2.8.2.min.js' | asset_url | script_tag }}

  <!-- Add media query support to IE8 -->
  <!--[if lt IE 9]>
  <script src="{{ 'respond.min.js' | asset_url }}"></script>
  <link href="{{ 'respond-proxy.html' | asset_url | split: '?' | first }}" id="respond-proxy" rel="respond-proxy" />
  {% assign respond_js_secret_key = shop.domain | md5 %}
  <link href="//{{ shop.domain }}/search?q={{ respond_js_secret_key }}" id="respond-redirect" rel="respond-redirect" />
  <script src="//{{ shop.domain }}/search?q={{ respond_js_secret_key }}" type="text/javascript"></script>
  <![endif]-->

  <!-- Theme object -->
  {% include 'theme-options' %}

</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">

  <div class="main-header-wrapper">
    <header class="main-header clearfix" role="banner">

      <div class="branding">
        {% if logo != blank %}
          <a class="logo" href="/">
            <img alt="{{ shop.name | escape }}" src="{{ 'logo.png' | asset_url }}">
          </a>
        {% else %}
          {% if template contains 'index' %}
            <h1 class="site-title">{{ shop.name }}</h1>
          {% else %}
            <div class="site-title"><a href="/">{{ shop.name }}</a></div>
          {% endif %}
        {% endif %}
      </div>

    </header>
  </div>

  <div class="main-content-wrapper">

    <div class="main-content">
      {% section 'password' %}
    </div>

  </div>

  <div class="main-footer-wrapper">
    <footer class="main-footer">
      <div class="copyright">

        {% capture year %}
          {{ "now" | date: "%Y" }}
        {% endcapture %}

        {% capture shopName %}{{ shop.name | link_to: '/' }}{% endcapture %}

        <p role="contentinfo">{{ 'layout.footer.copyright_html' | t: year: year, shop_name: shopName }}<br>
          <a href="https://www.pixelunion.net/themes/shopify/pacific/" target="_blank">Pacific theme</a> by <a href="http://www.pixelunion.net" target="_blank">Pixel Union</a>. {{ powered_by_link }}.</p>
      </div>
    </footer>
  </div>

  <!-- Scripts -->
  {{ 'jquery-1.11.1.min.js' | asset_url | script_tag }}

  {% if settings.enable_currency_switcher %}
    {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
    {{ "jquery.currencies.js" | asset_url | script_tag }}
  {% endif %}

  {{ 'plugins.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}

</body>
</html>
