{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% layout none %}

<!doctype html>
<!--[if IE 7]><html class="no-js ie7 lt-ie8 lt-ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>
    {{ langify_title }}

    {% if current_tags %}
      &ndash; {% comment %}ly_i18n_replace_for_[ 'blogs.blog.seo_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'blogs.blog.seo_title' | t }}{% endcapture %}{% include 'ly-static-string' with '9425368' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} "{{ current_tags | join: ', ' }}"
    {% endif %}

    {% if current_page != 1 %}
      &ndash; {% comment %}ly_i18n_replace_for_[ 'general.pagination.seo_title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.pagination.seo_title' | t }}{% endcapture %}{% include 'ly-static-string' with '9425369' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %} {{ current_page }}
    {% endif %}

    {% unless langify_title contains langify_shop_name %}
      &ndash; {{ langify_shop_name }}
    {% endunless %}
  </title>

  {% if langify_description %}
    <meta name="description" content="{{ langify_description | escape }}" />
  {% endif %}

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{% comment %}ly_asset_replace_for_[ 'favicon.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'favicon.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" type="image/png" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width" />

  {{ content_for_header }}

  <!-- Theme CSS -->
  {% comment %}ly_asset_replace_for_[ 'theme.scss.css' | asset_url | stylesheet_tag ]_begin{% endcomment %}{% assign ly_asset = 'theme.scss.css' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | stylesheet_tag }}{% comment %}ly_asset_replace_end{% endcomment %}

  <!-- Third Party JS Libraries -->
  {% comment %}ly_asset_replace_for_[ 'modernizr-2.8.2.min.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'modernizr-2.8.2.min.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}

  <!-- Add media query support to IE8 -->
  <!--[if lt IE 9]>
  <script src="{% comment %}ly_asset_replace_for_[ 'respond.min.js' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'respond.min.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}"></script>
  <link href="{% comment %}ly_asset_replace_for_[ 'respond-proxy.html' | asset_url | split: '?' | first ]_begin{% endcomment %}{% assign ly_asset = 'respond-proxy.html' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | split: '?' | first }}{% comment %}ly_asset_replace_end{% endcomment %}" id="respond-proxy" rel="respond-proxy" />
  {% assign respond_js_secret_key = shop.domain | md5 %}
  <link href="//{{ shop.domain }}/search?q={{ respond_js_secret_key }}" id="respond-redirect" rel="respond-redirect" />
  <script src="//{{ shop.domain }}/search?q={{ respond_js_secret_key }}" type="text/javascript"></script>
  <![endif]-->

  <!-- Theme object -->
  {% include 'theme-options' %}

</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">

  <div class="main-header-wrapper">
    <header class="main-header clearfix" role="banner">

      <div class="branding">
        {% if logo != blank %}
          <a class="logo" href="/">
            <img alt="{{ langify_shop_name | escape }}" src="{% comment %}ly_asset_replace_for_[ 'logo.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'logo.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
          </a>
        {% else %}
          {% if template contains 'index' %}
            <h1 class="site-title">{{ langify_shop_name }}</h1>
          {% else %}
            <div class="site-title"><a href="/">{{ langify_shop_name }}</a></div>
          {% endif %}
        {% endif %}
      </div>

    </header>
  </div>

  <div class="main-content-wrapper">

    <div class="main-content">
      {% section 'password' %}
    </div>

  </div>

  <div class="main-footer-wrapper">
    <footer class="main-footer">
      <div class="copyright">

        {% capture year %}
          {{ "now" | date: "%Y" }}
        {% endcapture %}

        {% capture shopName %}{{ langify_shop_name | link_to: '/' }}{% endcapture %}

        <p role="contentinfo">{% comment %}ly_i18n_replace_for_[ 'layout.footer.copyright_html' | t: year: year, shop_name: shopName ]_begin{% endcomment %}{% capture ly_template %}{{ 'layout.footer.copyright_html' | t: year: year, shop_name: shopName }}{% endcapture %}{% include 'ly-static-string' with '9425372' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = year %}{% assign ly_template = ly_template | replace: '[[year]]', replacement %}{% assign replacement = shopName  %}{% assign ly_template = ly_template | replace: '[[shop_name]]', replacement %}{% if escape_content %}{{ ly_template}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}<br>
          <a href="https://www.pixelunion.net/themes/shopify/pacific/" target="_blank"><ly-as-9425365>Pacific theme</ly-as-9425365></a> <ly-as-9425366>by</ly-as-9425366> <a href="http://www.pixelunion.net" target="_blank"><ly-as-9425367>Pixel Union</ly-as-9425367></a>. {{ powered_by_link }}.</p>
      </div>
    </footer>
  </div>

  <!-- Scripts -->
  {% comment %}ly_asset_replace_for_[ 'jquery-1.11.1.min.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'jquery-1.11.1.min.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}

  {% if settings.enable_currency_switcher %}
    {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
    {% comment %}ly_asset_replace_for_[ "jquery.currencies.js" | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = "jquery.currencies.js" %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
  {% endif %}

  {% comment %}ly_asset_replace_for_[ 'plugins.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'plugins.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}
  {% comment %}ly_asset_replace_for_[ 'theme.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'theme.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}

</body>
</html>
